<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/angular/angular.js"></script>
</head>
<body ng-app="myApp">

<label for="checkbox">
    <input id="checkbox" type="checkbox" ng-model="visible">Toggle me
</label>

<div show="visible">
    <p>Hello world</p>
</div>

<label><input type="checkbox" ng-model="checked"/>Toggle Button</label>
<button ng-disabled="checked">Press me</button>

<super-html-widget></super-html-widget>

<script>

    var app = angular.module("myApp",[]);


    app.directive("show", function() {
        return {
            link: function(scope, element, attrs) {
                scope.$watch(attrs.show, function(value){
                    element.css('display', value ? '' : 'none');
                });
            }
        };
    });


    app.directive("superHtmlWidget",function(){
        return {
          restrict : 'E',
          replace :"true",
          template:"<p> <b>Hello World</b> </p>"
        };
    });
</script>
</body>
</html>